{% extends 'base.html' %}

{% block content %}

<div class="row">

  <div class="col-lg-3 mx-auto">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">Active item</a>
      <a href="#" class="list-group-item list-group-item-action">Item</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Disabled item</a>
    </div>
  </div>

  <div id="product" class="col-lg-9 mx-auto">
    <div class="row m-auto mt-3">
      {% for product in products %}
      <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">{{ product.name }}</p>
          <p class="card-text"><b>{{ product.price }}</b></p>
          <a href="#" class="btn btn-light border btn-sm">Add To Cart</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}