{% extends 'base.html' %}

{% block content %}

<div class="row">

  <div class="col-lg-2 mx-auto">
    {% for category in categories %}
    <div class="list-group">
      <a href="{% url 'category-post' category.name %}" class="list-group-item list-group-item-action">{{ category.name }}</a>
    </div>
    {% endfor %}
  </div>

  <div id="product" class="col-lg-9 mx-auto">
    <div class="row m-auto mt-3">
      {% for product in products %}
      <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">{{ product.name }}</p>
          <p class="card-text"><b>{{ product.price }}</b></p>
          <form action="/" method="POST">
            {% csrf_token %}
            <input type="text" name="product" value="{{product.id}}">
            <a href="{% url 'cart' %}" class="float-right btn btn-light border btn-sm">Add To Cart</a>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}